/*
Selectores
Etiquetas HTML = h1, section
Clases  = .miClase, .banner(Se usa varias veces y tambien una sola vez)
ID  = #subtitulo, #mascota(Solo se usa una vez)
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Mulish&family=Noto+Sans:wght@500&display=swap');
header img{
  max-width: 241px;
}

body{
  font-family: 'Mulish', sans-serif;
}

h1,
h2,
h3,
h4,
a{
  font-family: 'Montserrat', sans-serif;
}

img{
  max-width: 100%;
}
a{
  font-weight: bold;
}

h2{
  color: rgba(149, 37, 247, 0.87);
  font-size: 35px;
  text-align: center;
}

h1,
h2,
h3,
h4,
p{
  margin-bottom: 0;
  margin-top: 0;
}

footer{
  background-image: url("../img/back-footer.png");
  background-size: contain;
  height: 75px;
  margin-top: 50px;
  position: relative;
}
footer p{
  color:white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}



.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
}

.flex{
  align-items: center;
  display: flex;
}

.banner-descrip a{
  align-items: center ;
  background: linear-gradient(44.11deg, #CD10FF 15.75%, #9F06FF 84.63%);
  border-radius: 33px;
  color: white;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  justify-content: center;
  height: 66px;
  margin-top: 20px;
  text-decoration: none;
  width: 206px;
}

.banner-descrip h1{
  color:#001A49;
  font-size: 45px;
}
.banner-descrip p{
  color: #4F596A;
  font-size: 20px;
  line-height: 30px;
}


.list-mascotas article{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /*padding: top right bottom left;*/
  /*ejemplo padding: 10px 15px 30px 8px */
  /*padding: (top && bottom) (left && right)*/
  /* ejemplo padding: 20px 10px */
  margin-top: 40px;
  padding: 20px 15px 30px 15px;
  width: 300px;
}

.list-mascotas article a{
  align-items: center;
  background: linear-gradient(44.11deg, #4B16E0 15.75%, #191CFC 84.63%);
  border-radius: 33px;
  color: white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  height: 56px;
  margin: 20px auto 0 auto;
  text-decoration: none;
  width: 180px;
}

.mascota-item-descrip{
  margin-top: 12px;
}
.mascota-item-title svg{
  margin-left: 10px;
}
.mascota-item-row {
  margin-top: 15px;
}
.mascota-item-row svg{
  margin-right: 10px;
}


@media screen and (max-width: 1023px){
  .banner-descrip{
    text-align: center;
  }
  .banner-descrip p{
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
  }
  .banner-descrip a{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 639px){
  .list-mascotas article{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 640px){
  .list-mascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  h2{
    font-size: 65px;
  }
  .banner .container{
    display: flex;
  }

  .banner-descrip h1{
    font-size: 60px;
  }
  .list-mascotas a{
    transition: all 0.3s;
  }

  .list-mascotas a:hover{
    transform: scale(0.90);
  }
}

@media screen and (min-width: 1224px) {
  .container{
    max-width: 1200px;
  }
}

